<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{title}}</title>
	<meta name="description" content={{description}}>
	<link rel="icon" href={{favicon}}>
	<!--[if IE]>
		<link rel="shortcut icon" href="favicon.ico" type="image/vnd.microsoft.icon" />
	<![endif]-->
	<!-- Chrome for Android theme color -->
  <meta name="theme-color" content={{themeColor}}>
	<!-- Roboto font for mui components -->
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,500' rel='stylesheet' type='text/css'>
	<!-- Material design icons -->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!-- Extra fonts -->
	{{#each fonts}}
		{{#if this.src}}
	  <link href='{{this.src}}' rel='stylesheet' type='text/css'>
	  {{/if}}
	{{/each}}	
	<!-- Main stylesheet bundled, prefixed, and minified -->
	<link rel="stylesheet" href="/css/bundle.css">
	<style>
		/**
		 * Set global styles from site config
		 */
		h1, h2, h3, h4, h5 {
			font-family: {{{fonts.header.family}}};
		}
		body {
			background-color: {{backgroundColor}};
		  font-family: {{{fonts.body.family}}};
		}
		a {
			color: {{linkColor}};
		}
		a:hover {
			color: {{linkHoverColor}};
		}
	</style>
</head>

<body>
	<div id="mnt">{{{markup}}}</div>
  <script id="initial-state" type="application/json">{{{state}}}</script>
	
	<!-- Main javascript bundled with Webpack -->
	<script src="/js/bundle.js"></script>
	<!-- Google Analytics script -->
	<script>(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');ga('create', '{{gaid}}', 'auto');ga('send', 'pageview');</script>
</body>