/**
 * main.css
 */
 
/**
 * Material design styles
 */
body {
  color: #202020;
  color: rgba(0, 0, 0, .87);
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

h1 {
  font-size: 112px;
  font-size: 10vw;
  font-weight: 300;
  //line-height: 128px;
  //letter-spacing: -5px;
}

h2 {
  font-size: 56px;
  font-weight: 400;
  line-height: 64px;
}
h3 {
  font-size: 45px;
  font-weight: 400;
  line-height: 64px;
}

h4 {
  font-size: 34px;
  font-weight: 400;
  line-height: 52px;
}

.text-headline {
  font-size: 24px;
  font-weight: 400;
  line-height: 44px;
}

.text-title {
  font-size: 20px;
  font-weight: 400;
  line-height: 44px;
}

.text-subhead {
  font-size: 16px;
  font-weight: 400;
  line-height: 36px;
}

p {
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
}

.text-caption {
  font-size: 12px;
  font-weight: 400;
  line-height: 32px;
}

.text-menu {
  font-size: 14px;
  font-weight: 500;
  line-height: 32px;
}

button {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 32px;
}

/**
 * Global common styles
 */
a, a:active, a:focus {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
  color: inherit;
  cursor: pointer;
}

.bt-background-img-cover {
  background-size: cover !important;
}

.bt-visible {
  visibility: visible !important;
}

.bt-hidden {
  visibility: hidden !important;
}

.bt-transform-top-center {
  position: absolute !important;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.bt-transform-center-center {
  position: absolute !important;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.bt-transform-bottom-center {
  position: absolute !important;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.bt-transform-center-left {
  position: absolute !important;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.bt-transform-center-right {
  position: absolute !important;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.bt-margin-top {
  margin-top: 16px;
}

.bt-margin-bottom {
  margin-bottom: 16px;
}

.bt-margin-left {
  margin-left: 16px;
}

.bt-margin-right {
  margin-right: 16px;
}

.bt-padding-top {
  padding-top: 16px;
}

.bt-padding-bottom {
  padding-bottom: 16px;
}

.bt-padding-left {
  padding-left: 16px;
}

.bt-padding-right {
  padding-right: 16px;
}